# OS files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Flutter/Dart
**/build/
**/.dart_tool/
**/ephemeral/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/package_config.json
**/.packages
**/generated/
**/ios/Flutter/.last_build_id

# Android specific
**/.gradle/
**/local.properties
**/captures/
**/android/app/debug
**/android/app/profile
**/android/app/release

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/venv/
**/.env
**/.pytest_cache/
**/dist/
**/build/

# Secret files
**/google-services.json
**/GoogleService-Info.plist

# Project specific
**/analyze_output.txt
**/analyze_res2.txt
**/run_web_output.txt
**/build_output.txt
hs_err_pid20352.log
android/hs_err_pid17872.log
android/replay_pid17872.log
hs_err_pid21012.log
android/hs_err_pid9084.log
android/hs_err_pid25612.log
android/replay_pid9084.log
android/replay_pid25612.log
android/hs_err_pid11284.log
